[submodule "Gemstone/vendor/spdlog"]
	path = Gemstone/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Gemstone/vendor/GLFW"]
	path = Gemstone/vendor/GLFW
	url = https://github.com/thecherno/glfw
[submodule "Gemstone/vendor/imgui"]
	path = Gemstone/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Gemstone/vendor/glm"]
	path = Gemstone/vendor/glm
	url = https://github.com/g-truc/glm
